<h1><%= Book.model_name.human %>詳細</h1>

    <%#= @book.image %>

    <%#= Book.human_attribute_name(:title) + '  ' + @book.title %>

    <%#= Book.human_attribute_name(:number) + '  ' + @book.number %>

    <%#= Book.human_attribute_name(:author) + '  ' + @book.author + '    ' + 
        Book.human_attribute_name(:illustrator) + '  ' + @book.illustrator %>

    <%#= Book.human_attribute_name(:illustrator) + '  ' + @book.illustrator %>

    <%#= @book.subtitle %>

    <%#=  @book.detail %>

    <%#= Book.human_attribute_name(:isbn) + '  ' + @book.isbn %>

    <%#= Book.human_attribute_name(:format) + '  ' + @book.format %>

    <%#= Book.human_attribute_name(:page) + '  ' + @book.page %>

    <%#= Book.human_attribute_name(:price) + '  ' + @book.price %>

    <%#= Book.human_attribute_name(:publisher) + '  ' + @book.publisher %>